site_name: "Dynatrace Observability Lab: Release Validation"
repo_name: "View Code on GitHub"
repo_url: "https://github.com/dynatrace/obslab-release-validation"
nav:
  - '1. About': index.md
  - '2. Getting Started': getting-started.md
  - '3. Validate Telemetry': validate-telemetry.md
  - '4. Create SRG': create-srg.md
  - '5. Automate SRG': automate-srg.md
  - '6. Enable Automatic Baselines': enable-auto-baselines.md
  - '7. Run a Production SRG': run-production-srg.md
  - '8. Make a Change': enable-change.md
  - '9. View Acceptance Test Results': view-acceptance-test-results.md
  - '10. Cleanup': cleanup.md
  - '11. Resources': resources.md
  - "12. What's Next?": whats-next.md
theme:
  name: material
  custom_dir: docs/overrides
  features:
    - content.code.copy
  palette:

  # Palette toggle for automatic mode
  - media: "(prefers-color-scheme)"
    toggle:
      icon: material/brightness-auto
      name: Switch to light mode

  # Palette toggle for light mode
  - media: "(prefers-color-scheme: light)"
    scheme: default 
    toggle:
      icon: material/brightness-7
      name: Switch to dark mode

  # Palette toggle for dark mode
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    toggle:
      icon: material/brightness-4
      name: Switch to system preference
markdown_extensions:
  - attr_list
  - toc:
      permalink: '#'
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.snippets:
      base_path: ["docs"]

plugins:
    - search
    - markdownextradata